{% extends 'blank.html' %}

{% block title %}
    <title>403</title>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="403">403</div>
            <p class="lead text-gray-800 mb-5">The csrf_token error</p>
            <p class="text-gray-500 mb-0">can't find csrf_token in csrf or form</p>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}