{% extends 'buyer/base.html' %}

{% block title %}
    商品详情
{% endblock %}
{% block style %}
    <script type="text/javascript" src="/static/buyer/js/jquery-3.3.1.min.js"></script>
{#    <script type="text/javascript" src="/static/buyer/js/vue.js"></script>#}
{% endblock %}
{% block content %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.goods_images }}" style="width: 350px;height: 350px"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>草莓浆果柔软多汁，味美爽口，适合速冻保鲜贮藏。草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.goods_price }}</em></span>
				<span class="show_unit">单  位：500g</span>
			</div>
{#            <form method="post" action="/buyer/goods_detail/">#}
{#                {% csrf_token %}#}
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl" id="num">
                    <input type="text" id="number" name="number" class="num_show fl" value="1">
                    <a href="javascript:operation('add');" class="add fr">+</a>
                    <a href="javascript:operation('minus');" class="minus fr">-</a>
                </div>
            </div>
            <div class="total">总价：<input type="text" id="total" name="total" value="{{ goods.goods_price }}" size="5" readonly style="pointer-events: none;cursor: text;border: none;color: red"><span style="color: red">元</span></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <div class="add_cart" id="add_cart" style="cursor: pointer">加入购物车</div>
            </div>
{#            </form>#}
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods001.jpg"></a>
						<h4><a href="#">进口柠檬</a></h4>
						<div class="prize">￥3.90</div>
					</li>
					<li>
						<a href="#"><img src="/static/buyer/images/goods/goods002.jpg"></a>
						<h4><a href="#">玫瑰香葡萄</a></h4>
						<div class="prize">￥16.80</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods_description }}</dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="add_jump"></div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var price = $("#total").val();
        function operation(method) {
            var value = $("#number").val();
            if(method == "add"){
                value++;
            }else if(method == "minus" && value > 1){
                value--;
            }else {
                value = 1
            }
            $("#number").val(value);

            var total = value * price;
            $("#total").val(total)
        }

        $("#add_cart").click(function () {
            $.ajaxSetup({
                data:{
                    csrfmiddlewaretoken:'{{ csrf_token }}'
                }
            });
            $.ajax({
                url:"/buyer/add_cart/",
                type:"post",
                dataType:"json",
                data:{
                    goods_id:{{ goods.id}},
                    number:$("#number").val(),
                    total:$("#total").val()
                },
                success:function (data) {
                    if(data.flag == 1){
                        alert(data.message)
                    }else {
                        alert(data.message);
                        window.location.href="/buyer/login/";
                    }
                },
                error:function (error) {
                    console.log(error)
                }
            })
        })
    </script>
{% endblock %}