{% extends 'blank.html' %}

{% block title %}
    <title>学员列表</title>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students_list %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
