{% extends 'store/base.html' %}

{% block title %}
    <title>404</title>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">页面没有找到</p>
            <p class="text-gray-500 mb-0">你发现了一个小故障</p>
            <a href="index.html">&larr; 返回主页</a>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}