{% extends 'store/base.html' %}
{% load setJsonTag %}

{% block title %}
    <title>商品列表</title>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">商品列表</h1>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>价格(￥)</th>
                    <th>库存</th>
                    <th>生产日期</th>
                    <th>保质期(月)</th>
                    <th>上架商铺</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for goods in page %}
                    <tr>
                        <td><a href="/store/detail_goods/{{ goods.id }}/">{{ goods.goods_name }}</td>
                        <td>
                            <input type="text" value="{{ goods.goods_price }}">
                        </td>
                        <td>{{ goods.goods_number }}</td>
                        <td>{{ goods.goods_date|date:"Y-m-d" }}</td>
                        <td>{{ goods.goods_safeDate }}</td>
                        <td>
                            {% for store in goods.id|goodsOfstore %}
                                <p>{{ store.store_name }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {% if goods.isdelete %}
                                <a class="btn btn-warning" href="/store/putaway/{{ goods.id }}/">上架</a>
                                <a class="btn btn-warning disabled" href="/store/sold_out/{{ goods.id }}/">下架</a>
                            {% else %}
                                <a class="btn btn-warning disabled" href="/store/putaway/{{ goods.id }}/">上架</a>
                                <a class="btn btn-warning" href="/store/sold_out/{{ goods.id }}/">下架</a>
                            {% endif %}
                            <a class="btn btn-danger" href="#">销毁</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <a class="btn btn-primary" href="/store/add_goods/">添加商品</a>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        {% for page in page_range %}
                            <li class="paginate_button page-item">
                                <a href="?keyword={{ keywords }}&page_num={{ page }}" class="page-link">{{ page }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
