{% extends 'store/base.html' %}

{% block title %}
    <title>店铺注册</title>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">店铺注册</h1>
        </div>
        <form class="user" method="post" enctype="multipart/form-data" action="/store/register_store/">
            {% csrf_token %}
            <table style="margin: auto">
                <tr class="form-group">
                    <td><label>店铺名称：</label></td>
                    <td><input type="text" class="form-control" name="store_name" placeholder="店铺名称"></td>
                </tr>
                <tr class="form-group">
                    <td><label>店铺描述：</label></td>
                    <td><input type="text" class="form-control" name="store_description" placeholder="店铺描述"></td>
                </tr>
                <tr class="form-group">
                    <td><label>店铺电话：</label></td>
                    <td><input type="text" class="form-control" name="store_phone" placeholder="店铺电话"></td>
                </tr>
                <tr class="form-group">
                    <td><label>店铺注册资金：</label></td>
                    <td><input type="text" class="form-control" name="store_money" placeholder="店铺注册资金"></td>
                </tr>
                <tr class="form-group">
                    <td><label>店铺类型：</label></td>
                    <td>
                        {% for i in storeType %}
                            <input type="checkbox" name="store_type" value="{{ i.id }}">{{ i.store_type }}
                        {% endfor %}
                    </td>
                </tr>
                <tr class="form-group">
                    <td><label>店铺logo：</label></td>
                    <td><input type="file" class="form-control" name="store_logo" placeholder="店铺logo"></td>
                </tr>
                <tr class="form-group">
                    <td><label>店铺地址：</label></td>
                    <td>
                        <select name="province" id="province">
                            <option value="">请选择省份</option>
                        </select>--
                        <select name="city" id="city">
                            <option value="">请选择城市</option>
                        </select>--
                        <select name="district" id="district">
                            <option value="">请选择区/县</option>
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td></td>
                    <td><textarea class="btn-block" name="detail" placeholder="请输入详细地址"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" class="btn btn-primary btn-user btn-block" value="注册"></td>
                </tr>
            </table>
        </form>
    </div>
    <!-- /.container-fluid -->
{% endblock %}

